{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Locataires sans chambre</h2>
<div class="responsive-table">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Locataire</th>
				<th>Chambre réservée</th>
			</tr>
		</thead>
		<tbdoy>
		{% for tenant in homeless %}
		<tr>
			<td><a href="{% url 'gestion:tenantProfile' tenant.pk %}">{{tenant}}</a></td>
			<td>{% if tenant.next_leasing %}<a href="{% url 'gestion:roomProfile' tenant.next_leasing.room.pk %}">{{tenant.next_leasing.room}}{% else %}Pas de chambre reservée{% endif %}</a></td>
		</tr>
		{% endfor %}
		</tbdoy>
	</table>
</div>
{% endblock %}