{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content%}
<h3>{{leasing}}</h3>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
	<a href="{% url 'gestion:editLeasing' leasing.pk %}" type="submit" class="btn btn-primary"><i class="fa fa-pencil-alt"></i> Modifier</a>
	<div class="btn-group" role="group">
		<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-file-alt"></i> Documents
		</button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
			<a class="dropdown-item{% if not leasing.date_of_entry %} tooltip2{% endif %}" href="{% url 'generate_docs:aplInfos' leasing.pk %}"{% if not leasing.date_of_entry %} title="Pas de date d'entrée pour le dossier"{% endif %}><i class="fa fa-info-circle"></i> APL infos{% if not leasing.date_of_entry %} <i class="fa fa-exclamation-triangle"></i>{% endif %}</a>
			<a class="dropdown-item{% if not leasing.tenant.birth_completed or not leasing.date_of_entry %} tooltip2{% endif %}" href="{% url 'generate_docs:rentContract' leasing.pk %}" {% if not leasing.tenant.birth_completed or not leasing.date_of_entry %}title="{% if not leasing.tenant.birth_completed %}Il pourrait manquer des informations au locataire{% endif %}{% if not leasing.tenant.birth_completed and not leasing.date_of_entry %};{% endif %}{% if not leasing.date_of_entry %}Pas de date d'entrée{% endif %}"{% endif %}><i class="fa fa-file-contract"></i> Contrat de location{% if not leasing.tenant.birth_completed or not leasing.date_of_entry %} <i class="fa fa-exclamation-triangle"></i>{% endif %}</a>
			<a class="dropdown-item{% if not leasing.tenant.completed %} tooltip2{% endif %}" href="{% url 'generate_docs:civilStatus' leasing.pk %}" {% if not leasing.tenant.completed %} title="Il pourrait manquer des informations au locataire"{% endif %}><i class="fa fa-address-card"></i> État civil {% if not leasing.tenant.completed %} <i class="fa fa-exclamation-triangle"></i>{% endif %}</a>
			<a class="dropdown-item{% if not leasing.contract_date %} tooltip2{% endif %}" href="{% url 'generate_docs:guarantee' leasing.pk %}" {% if not leasing.contract_date %}title="Aucune date de contrat"{% endif %}><i class="fa fa-money-check-alt"></i> Engagement de caution{% if not leasing.contract_date %} <i class="fa fa-exclamation-triangle"></i>{% endif %}</a>
			<a class="dropdown-item" href="{% url 'generate_docs:insuranceExpiration' leasing.pk %}"><i class="fa fa-clock"></i> Expiration assurance</a>
			<a class="dropdown-item" href="{% url 'generate_docs:tenantRecord' leasing.pk %}"><i class="fa fa-id-card"></i> Fiche locataire</a> 
		</div>
	</div>
</div>
<br><br>
{% csrf_token %}
<div class="row">
	<div class="col">
		Locataire : <a href="{% url 'gestion:tenantProfile' leasing.tenant.pk %}">{{leasing.tenant}}</a>
	</div>
	<div class="col">
		Chambre : <a href="{% url 'gestion:roomProfile' leasing.room.pk %}">{{leasing.room}}</a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="form-group"><label for="id_date_of_entry">Date d'entrée</label><input type="text" name="date_of_entry" value="{{leasing.date_of_entry}}" class="form-control" placeholder="Date d'entrée" title="" id="id_date_of_entry" disabled/></div>
	</div>
	<div class="col">
		<div class="form-group"><label for="id_date_of_departure">Date de sortie</label><input type="text" name="date_of_departure" value="{{leasing.date_of_departure}}" class="form-control" placeholder="Date de sortie" title="" id="id_date_of_departure" disabled/></div>
	</div>
</div>
<h4>Dossier</h4>
<div class="row">
	<div class="col">
		<div class="form-group"><div class="checkbox"><label for="id_contract_signed"><input type="checkbox" name="contract_signed" class="" id="id_contract_signed" {% if leasing.contract_signed %}checked{% endif %} disabled/> Contrat signé</label></div></div>
	</div>
	<div class="col">
		<div class="form-group"><label for="id_contract_date">Date du contrat</label><input type="text" name="contract_date" value="{{leasing.contract_date}}" class="form-control" placeholder="Date du contrat" title="" id="id_contract_date" disabled/></div>
	</div>
</div>
<h5>Garant</h5>
<div class="row">
	<div class="col">
		<div class="form-group"><div class="checkbox"><label for="id_caution_rib"><input type="checkbox" name="caution_rib" class="" id="id_caution_rib" {% if leasing.caution_rib %}checked{% endif %} disabled/> RIB caution</label></div></div>
	</div>
	<div class="col">
		<div class="form-group"><div class="checkbox"><label for="id_idgarant"><input type="checkbox" name="idgarant" class="" id="id_idgarant" {% if leasing.idgarant %}checked{% endif %} disabled/> Pièce d'identité du garant</label></div></div>
	</div>
	<div class="col">
		<div class="form-group"><div class="checkbox"><label for="id_payinslip"><input type="checkbox" name="payinslip" class="" id="id_payinslip" {% if leasing.payinslip %}checked{% endif %} disabled/> 3 dernier bulletins de salaire du garant</label></div></div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="form-group"><div class="checkbox"><label for="id_tax_notice"><input type="checkbox" name="tax_notice" class="" id="id_tax_notice" {% if leasing.tax_notice %}checked{% endif %} disabled/> Avis d'imposition du garant</label></div></div>
	</div>
	<div class="col">
		<div class="form-group"><div class="checkbox"><label for="id_residence_certificate"><input type="checkbox" name="residence_certificate" class="" id="id_residence_certificate" {% if leasing.residence_certicate %}checked{% endif %} disabled/> Certificat de domicile</label></div></div>
	</div>
	<div class="col">
		<div class="form-group"><div class="checkbox"><label for="id_stranger"><input type="checkbox" name="stranger" class="" id="id_stranger" {% if leasing.stranger %}checked{% endif %} disabled/> Locataire étranger</label></div></div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="form-group"><label for="id_bail">Caution</label><input type="number" name="bail" value="{{leasing.bail}}" step="0.01" class="form-control" placeholder="Caution" title="" id="id_bail" disabled/></div>
	</div>
</div>
<h5>Garantie</h5>
<div class="row">
	<div class="col">
		<div class="form-group"><div class="checkbox"><label for="id_check_guarantee"><input type="checkbox" name="check_guarantee" class="" id="id_check_guarantee" {% if check_guarantee %}checked{% endif %} disabled/> Chèque pour le complément de dépot de garantie</label></div></div>
	</div>
	<div class="col">
		<div class="form-group"><label for="id_guarantee">Garantie</label><input type="number" name="guarantee" value="{{leasing.guarantee}}" step="0.01" class="form-control" placeholder="Garantie" title="" id="id_guarantee" disabled/></div>
	</div>
</div>
<h5>Autres</h5>
<div class="row">
	<div class="col">
		<div class="form-group"><label for="id_insuranceDeadline">Date de fin d'assurance</label><input type="text" name="insuranceDeadline" value="{{leasing.insuranceDeadline}}" class="form-control" placeholder="Date de fin d'assurance" title="" id="id_insuranceDeadline" disabled/></div>
	</div>
	<div class="col">
		<div class="form-group"><label for="id_apl">APL</label><input type="text" name="apl" value="{{leasing.apl}}" class="form-control" placeholder="APL" title="" id="id_apl" disabled/></div>
	</div>
	<div class="col">
		<div class="form-group"><label for="id_caf">CAF</label><input type="text" name="caf" value="{{leasing.caf}}" maxlength="255" class="form-control" placeholder="CAF" title="" id="id_caf" disabled/></div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="form-group">
			<label for="id_payment">Paiement</label>
			<select name="payment" class="form-control" title="" id="id_payment" disabled>
				<option value="" selected>{{leasing.get_payment_display}}</option>
			</select>
		</div>
	</div>
	<div class="col">
		<div class="form-group"><div class="checkbox"><label for="id_rib"><input type="checkbox" name="rib" class="" id="id_rib" {% if leasing.rib %}checked{% endif %} disabled/> RIB</label></div></div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="form-group"><div class="checkbox"><label for="id_issue"><input type="checkbox" name="issue" class="" id="id_issue" {% if leasing.issue %}checked{% endif %} disabled/> Problème</label></div></div>
	</div>
	<div class="col">
		<div class="form-group"><div class="checkbox"><label for="id_photo"><input type="checkbox" name="photo" class="" id="id_photo" {% if leasing.photo %}checked{% endif %} disabled/> Photo d'identité</label></div></div>
	</div>
	<div class="col">
		<div class="form-group"><div class="checkbox"><label for="id_internal_rules_signed"><input type="checkbox" name="internal_rules_signed" class="" id="id_internal_rules_signed" {% if leasing.internal_rules_signed %}checked{% endif %} disabled/> Règlement intérieur signé</label></div></div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="form-group"><div class="checkbox"><label for="id_school_certificate"><input type="checkbox" name="school_certificate" class="" id="id_school_certificate" {% if leasing.school_certificate %}checked{% endif %} disabled/> Certificat de scolarité</label></div></div>
	</div>
	<div class="col">
		<div class="form-group"><div class="checkbox"><label for="id_debit_authorization"><input type="checkbox" name="debit_authorization" class="" id="id_debit_authorization" {% if leasing.debit_authorization %}checked{% endif %} disabled/> Autorisation de prélèvement</label></div></div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="form-group"><label for="id_missing_documents">Documents manquants</label><textarea name="missing_documents" cols="40" rows="10" class="form-control" placeholder="Documents manquants" title="" id="id_missing_documents" disabled>{{leasing.missing_documents}}</textarea></div>
	</div>
</div>
	
<script>
$(function () {
	$('.tooltip2').tooltip() //tooltip class is already taken
})
</script>
{% endblock %}
