{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content%}
<h3>{{room}} (Lot {{room.lot}}) <span class="badge" style="color:white;background-color:{{room.renovation.color}}">{{room.renovation.name}}</span>
</h3>
<form method="post" action="">
	<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
		<button type="submit" class="btn btn-primary">Sauvegarder</button>
		{% if room.map %}
		<a href="{{room.map.url}}" target="_blank" class="btn btn-primary">Plan</a>
		{% endif %}
		<div class="btn-group" role="group">
			<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Actions
			</button>
			<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				{% if actualLeasing %}<a class="dropdown-item" href="{% url 'gestion:moveOut' 'room' actualLeasing.tenant.pk %}"><i class="fa fa-sign-out-alt"></i> Vider la chambre</a>{% endif %}
				{% if nextLeasing %}
				<a class="dropdown-item" href="{% url 'gestion:moveIn' 'room' nextLeasing.tenant.pk %}"><i class="fa fa-sign-in-alt"></i> Enménager le prochain locataire</a>
				<a class="dropdown-item" href="{% url 'gestion:cancelNextRoom' 'room' nextLeasing.tenant.pk %}"><i class="fa fa-times"></i> Annuler le prochain locataire</a>
				{% endif %}
				{% if actualLeasing or nextLeasing %}
				<div class="dropdown-divider"></div>
				{% endif %}
				<a class="dropdown-item" href="{% url 'gestion:changeRoomMap' room.pk %}"><i class="fa fa-map"></i> Changer le plan</a>
			</div>
		</div>
	</div>
	<br><br>
	{% csrf_token %}
	<div class="row">
		<div class="col">
			<h3>Informations</h3>
			<div class="row">
				<div class="col">
					{% bootstrap_field roomForm.room %}
				</div>
				<div class="col">
					{% bootstrap_field roomForm.lot %}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{% bootstrap_field roomForm.renovation %}
				</div>
				<div class="col">
					{% bootstrap_field roomForm.rentType %}
				</div>
			</div>
			<h3>Observations</h3>
			<div class="row">
				<div class="col">
					{% bootstrap_field roomForm.observations %}
				</div>
			</div>
		</div>
		<div class="col">
			<h3>Locataires</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Locataire</th>
						<th>Date d'entrée</th>
						<th>Date de sortie</th>
						<th>Dossier</th>
					</tr>
				</thead>
				<tbdoy>
					<tr>
						<td>
							{% if nextLeasing %}<a href="{% url 'gestion:tenantProfile' nextLeasing.tenant.pk %}">{{nextLeasing.tenant}}</a> (Prochain locataire){% else %}Pas de prochain locataire (<a href="{% url 'gestion:addNextTenant' room.pk %}">prévoir un prochain locataire</a>){% endif %}
						</td>
						<td></td>
						<td></td>
						<td>{% if nextLeasing %}<a href="{% url 'gestion:leasingProfile' nextLeasing.pk %}"><i class="fa fa-folder-open"></i></a>{% endif %}</td>
					</tr>
					<tr>
						<td>
							{% if actualLeasing %}<a href="{% url 'gestion:tenantProfile' actualLeasing.tenant.pk %}">{{actualLeasing.tenant}}</a> (Locataire actuel){% else %}Chambre vide (<a href="{% url 'gestion:roomMoveInDirect' room.pk %}">Enménager un locataire</a>){% endif %}
						</td>
						<td>{% if actualLeasing %}{{actualLeasing.date_of_entry}}{% endif %}</td>
						<td></td>
						<td>{% if actualLeasing %}<a href="{% url 'gestion:leasingProfile' actualLeasing.pk %}"><i class="fa fa-folder-open"></i></a>{% endif %}</td>
					</tr>
					{% for leasing in leasings %}
					<tr>
						<td><a href="{% url 'gestion:tenantProfile' leasing.tenant.pk %}">{{leasing.tenant}}</a></td>
						<td>{{leasing.date_of_entry}}</td>
						<td>{{leasing.date_of_departure}}</td>
						<td><a href="{% url 'gestion:leasingProfile' leasing.pk %}"><i class="fa fa-folder-open"></i></a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	</form>
{% endblock %}
