{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content%}
<h3>{{room}} (Lot {{room.lot}}) <span class="badge" style="color:white;background-color:{{room.renovation.color}}">{{room.renovation.name}}</span> {% if not room.is_active %}<span class="text-danger">Attention : cette chambre n'est pas active</span>{% endif %}
</h3>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
	<a href="{% url 'gestion:editRoom' room.pk %}" class="btn btn-primary"><i class="fa fa-pencil-alt"></i> Modifier</a>
	{% if room.map %}
	<a href="{{room.map.url}}" target="_blank" class="btn btn-primary"><i class="fa fa-map"></i> Plan</a>
	{% endif %}
	<div class="btn-group" role="group">
		<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-cogs"></i> Actions
		</button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
			{% if room.current_leasing %}
			<a class="dropdown-item" href="{% url 'gestion:moveOut' 'room' room.current_leasing.tenant.pk %}"><i class="fa fa-sign-out-alt"></i> Vider la chambre</a>
			{% else %}
			<a class="dropdown-item" href="{% url 'gestion:roomMoveInDirect' room.pk %}"><i class="fa fa-sign-in-alt"></i> Emménager un locataire</a>
			{% endif %}
			{% if room.next_leasing %}
			<a class="dropdown-item" href="{% url 'gestion:moveIn' 'room' room.next_leasing.tenant.pk %}"><i class="fa fa-sign-in-alt"></i> Emménager le prochain locataire</a>
			<a class="dropdown-item" href="{% url 'gestion:cancelNextRoom' 'room' room.next_leasing.tenant.pk %}"><i class="fa fa-times"></i> Annuler le prochain locataire</a>
			{% else %}
			<a class="dropdown-item" href="{% url 'gestion:addNextTenant' room.pk %}"><i class="fa fa-user-plus"></i> Prévoir un prochain locataire</a>
			{% endif %}
			<a class="dropdown-item" href="{% url 'gestion:changeRoomMap' room.pk %}"><i class="fa fa-map"></i> Changer le plan</a>
			<a class="dropdown-item" href="{% url 'gestion:roomSwitchActivate' room.pk %}"><i class="fa fa-screwdriver"></i> {{room.is_active|yesno:"Désa,A"}}ctiver la chambre</a>
		</div>
	</div>
</div>
<br><br>
{% csrf_token %}
<div class="row">
	<div class="col">
		<h3>Informations</h3>
		<div class="row">
			<div class="col">
				<div class="form-group"><label for="id_room">Chambre</label><input type="text" name="room" value="{{room}}" maxlength="6" class="form-control" placeholder="Chambre" title="" required id="id_room" disabled/></div>
			</div>
			<div class="col">
				<div class="form-group"><label for="id_lot">Lot</label><input type="number" name="lot" value="{{room.lot}}" min="0" class="form-control" placeholder="Lot" title="" required id="id_lot" disabled/></div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="id_renovation">Niveau de rénovation</label>
					<select name="renovation" class="form-control" title="" id="id_renovation" disabled>
						<option value="{{room.renovation.id}}" selected
						>{{room.renovation}}</option>
					</select>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label for="id_rent_type">Loyer</label>
					<select name="rent_type" class="form-control" title="" required id="id_rent_type" disabled>
						<option value="{{room.rent_type.id}}" selected>{{room.rent_type}}</option>
					</select>
				</div>
			</div>
		</div>
		<h3>Observations</h3>
		<div class="row">
			<div class="col">
				<div class="form-group"><label for="id_observations">Observations</label><textarea name="observations" cols="40" rows="10" class="form-control" placeholder="Observations" title="" id="id_observations" disabled>{{room.observations}}</textarea></div>
			</div>
		</div>
	</div>
	<div class="col">
		<h3>Locataires</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Locataire</th>
					<th>Date d'entrée</th>
					<th>Date de sortie</th>
					<th>Dossier</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						{% if room.next_leasing %}<a href="{% url 'gestion:tenantProfile' room.next_leasing.tenant.pk %}">{{room.next_leasing.tenant}}</a> (Prochain locataire){% else %}Pas de prochain locataire (<a href="{% url 'gestion:addNextTenant' room.pk %}">prévoir un prochain locataire</a>){% endif %}
					</td>
					<td></td>
					<td></td>
					<td>{% if room.next_leasing %}<a href="{% url 'gestion:leasingProfile' room.next_leasing.pk %}"><i class="fa fa-folder-open"></i></a>{% endif %}</td>
				</tr>
				<tr>
					<td>
						{% if room.current_leasing %}<a href="{% url 'gestion:tenantProfile' room.current_leasing.tenant.pk %}">{{room.current_leasing.tenant}}</a> (Locataire actuel){% else %}Chambre vide (<a href="{% url 'gestion:roomMoveInDirect' room.pk %}">Emménager un locataire</a>){% endif %}
					</td>
					<td>{% if room.current_leasing %}{{room.current_leasing.date_of_entry}}{% endif %}</td>
					<td></td>
					<td>{% if room.current_leasing %}<a href="{% url 'gestion:leasingProfile' room.current_leasing.pk %}"><i class="fa fa-folder-open"></i></a>{% endif %}</td>
				</tr>
				{% for leasing in room.previous_leasings %}
				<tr>
					<td><a href="{% url 'gestion:tenantProfile' leasing.tenant.pk %}">{{leasing.tenant}}</a></td>
					<td>{{leasing.date_of_entry}}</td>
					<td>{{leasing.date_of_departure}}</td>
					<td><a href="{% url 'gestion:leasingProfile' leasing.pk %}"><i class="fa fa-folder-open"></i></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
