{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content%}
<h3>{{tenant}}</h3>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
	<a href="{% url 'gestion:editTenant' tenant.pk %}" type="submit" class="btn btn-primary"><i class="fa fa-pencil-alt"></i> Modifier</a>
	{% if tenant.next_leasing or tenant.current_leasing or not tenant.date_of_departure %}
	<div class="btn-group" role="group">
		<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-cogs"></i> Actions
		</button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
			{% if tenant.next_leasing %}
			<a class="dropdown-item" href="{% url 'gestion:moveIn' 'tenant' tenant.pk %}"><i class="fa fa-sign-in-alt"></i> Emménagement</a>
			<a class="dropdown-item" href="{% url 'gestion:cancelNextRoom' 'tenant' tenant.pk %}"><i class="fa fa-times"></i> Annuler la prochaine chambre</a>
			{% endif %}
			{% if tenant.current_leasing %}
			<a class="dropdown-item" href="{% url 'gestion:moveOut' 'tenant' tenant.pk %}"><i class="fa fa-sign-out-alt"></i> Déménagement</a>
			{% endif %}
			{% if not tenant.date_of_departure %}
			<a class="dropdown-item" href="{% url 'gestion:leave' tenant.pk %}"><i class="fa fa-sign-out-alt"></i> Quitter la residence</a>
			{% endif %}
		</div>
	</div>
	{% endif %}
	{% if tenant.date_of_departure or tenant.current_leasing or tenant.next_leasing %}
	<div class="btn-group" role="group">
		<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-file-alt"></i> Documents
		</button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
			{% if tenant.date_of_departure %}
			<a class="dropdown-item{% if not tenant.birth_completed%} tooltip2{% endif %}" href="{% url 'generate_docs:leaseEndAttestation' tenant.pk %}"{% if not tenant.birth_completed %} title="Il pourrait manquer des informations au locataire"{% endif %}>Attestation de fin de bail{% if not tenant.birth_completed %} <i class="fa fa-exclamation-triangle"></i>{% endif %}</a>
			{% endif %}
			{% if tenant.current_leasing %}
			<a class="dropdown-item{% if not tenant.birth_completed or not tenant.current_leasing.date_of_entry %} tooltip2{% endif %}" href="{% url 'generate_docs:leaseAttestation' tenant.pk %}" {% if not tenant.birth_completed or not tenant.current_leasing.date_of_entry %}title="{% if not tenant.birth_completed %}Il pourrait manquer des informations au locataire{% endif %}{% if not tenant.birth_completed and not tenant.current_leasing.date_of_entry %};{% endif %}{% if not tenant.current_leasing.date_of_entry %}Pas de date d'entrée{% endif %}"{% endif %}><i class="fa fa-file-alt"></i> Attestation de résidence {% if not tenant.birth_completed or not tenant.current_leasing.date_of_entry %}<i class="fa fa-exclamation-triangle"></i>{% endif %}</a>
			<a class="dropdown-item{% if not tenant.birth_completed or not tenant.current_leasing.date_of_entry %} tooltip2{% endif %}" href="{% url 'generate_docs:leaseAttestationEnglish' tenant.pk %}" {% if not tenant.birth_completed or not tenant.current_leasing.date_of_entry %}title="{% if not tenant.birth_completed %}Il pourrait manquer des informations au locataire{% endif %}{% if not tenant.birth_completed and not tenant.current_leasing.date_of_entry %};{% endif %}{% if not tenant.current_leasing.date_of_entry %}Pas de date d'entrée{% endif %}"{% endif %}><i class="fa fa-file-alt"></i> Attestation de résidence anglais {% if not tenant.birth_completed or not tenant.current_leasing.date_of_entry %}<i class="fa fa-exclamation-triangle"></i>{% endif %}</a>
			{% endif %}
			{% if tenant.next_leasing %}
			<a class="dropdown-item{% if not tenant.birth_completed or not tenant.next_leasing.date_of_entry %} tooltip2{% endif %}" href="{% url 'generate_docs:reservationAttestation' tenant.pk %}" {% if not tenant.birth_completed or not tenant.next_leasing.date_of_entry %}title="{% if not tenant.birth_completed %}Il pourrait manquer des informations au locataire{% endif %}{% if not tenant.birth_completed and not tenant.next_leasing.date_of_entry %};{% endif %}{% if not tenant.next_leasing.date_of_entry %}Pas de date d'entrée{% endif %}"{% endif %}><i class="fa fa-file-alt"></i> Attestation de réservation{% if not tenant.birth_completed or not tenant.next_leasing.date_of_entry %} <i class="fa fa-exclamation-triangle"></i>{% endif %}</a>
			{% endif %}
		</div>
	</div>
	{% endif %}
</div>
<br><br>
{% csrf_token %}
<div class="row">
	<div class="col">
		<h4>Informations générales</h4>
		<div class="row">
			<div class="col">
				<div class="form-group"><label for="id_first_name">Prénom</label><input type="text" name="first_name" value="{{tenant.first_name}}" maxlength="255" class="form-control" placeholder="Prénom" title="" required id="id_first_name" disabled/></div>
			</div>
			<div class="col">
				<div class="form-group"><label for="id_name">Nom</label><input type="text" name="name" value="{{tenant.name}}" maxlength="255" class="form-control" placeholder="Nom" title="" required id="id_name" disabled/></div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="id_gender">Sexe</label>
					<select name="gender" class="form-control" title="" required id="id_gender" disabled>
							<option value="M" selected>{% if tenant.gender == "M"%}Masculin{% else %}Féminin{% endif %}</option>
					</select>
				</div>
			</div>
			<div class="col">
				<div class="form-group"><label for="id_email">Email</label><input type="email" name="email" maxlength="254" class="form-control" placeholder="Email" title="" id="id_email" value="{{tenant.email}}" disabled/></div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group"><label for="id_cellphone">Numéro de téléphone portable</label><input type="text" name="cellphone" value="{{tenant.cellphone}}" maxlength="10" class="form-control" placeholder="Numéro de téléphone portable" title="" id="id_cellphone" disabled/></div>
			</div>
			<div class="col">
				<div class="form-group"><label for="id_phone">Téléphone fixe</label><input type="text" name="phone" value="{{tenant.phone}}" maxlength="10" class="form-control" placeholder="Téléphone fixe" title="" id="id_phone" disabled/></div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="id_school">Ecole</label>
					<select name="school" class="form-control" title="" required id="id_school" disabled>
							<option value="1" selected>{{tenant.school}}</option>
					</select>
				</div>
			</div>
			<div class="col">
				<div class="form-group"><label for="id_school_year">Année d'étude</label><input type="number" name="school_year" value="{{tenant.school_year}}" min="0" class="form-control" placeholder="Année d'étude" title="" id="id_school_year" disabled/></div>
			</div>
		</div>
		<div class="row">
				<div class="col">
					<div class="form-group"><label for="id_date_of_entry">Date d'entrée à la rez</label><input  class="form-control" id="id_date_of_entry" title="" name="date_of_entry" type="text" class="form-control" placeholder="Date" value="{{tenant.date_of_entry}}" disabled/></div>
				</div>
			<div class="col">
				{% if tenant.date_of_departure %}
					<div class="form-group"><label for="id_date_of_departure">Date de sortie de la rez</label><input  class="form-control" id="id_date_of_departure" title="" name="date_of_departure" type="text" class="form-control" placeholder="Date" value="{{tenant.date_of_departure}}" disabled/></div>
				{% else %}
				Utiliser la fonction "Quitter la résidence" pour avoir accès à la date de départ
				{% endif %}
			</div>
		</div>
		<h4>Naissance</h4>
		<div class="row">
			<div class="col">
				<div class="form-group"><label for="id_birthday">Date de naissance</label><input type="text" name="birthday" value="{{tenant.birthday}}" class="form-control" placeholder="Date de naissance" title="" id="id_birthday" disabled/></div>
			</div>
			<div class="col">
				<div class="form-group"><label for="id_birthcity">Ville de naissance</label><input type="text" name="birthcity" value="{{tenant.birthcity}}" maxlength="255" class="form-control" placeholder="Ville de naissance" title="" id="id_birthcity" disabled/></div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group"><label for="id_birthdepartement">Département de naissance</label><input type="text" name="birthdepartement" value="{{tenant.birthdepartement}}" maxlength="255" class="form-control" placeholder="Département de naissance" title="" id="id_birthdepartement" disabled/></div>
			</div>
			<div class="col">
				<div class="form-group"><label for="id_birthcountry">Pays de naissance</label><input type="text" name="birthcountry" value="{{tenant.birthcountry}}" maxlength="255" class="form-control" placeholder="Pays de naissance" title="" id="id_birthcountry" disabled/></div>
			</div>
		</div>
		<h4>Adresse</h4>
		<div class="row">
			<div class="col">
				<div class="form-group"><label for="id_street_number">N° de rue</label><input type="number" name="street_number" value="{{tenant.street_number}}" min="0" class="form-control" placeholder="N° de rue" title="" id="id_street_number" disabled/></div>
			</div>
			<div class="col">
				<div class="form-group"><label for="id_street">Rue</label><input type="text" name="street" value="{{tenant.street}}" maxlength="255" class="form-control" placeholder="Rue" title="" id="id_street" disabled/></div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group"><label for="id_zipcode">Code postal</label><input type="number" name="zipcode" value="{{tenant.zipcode}}" min="0" class="form-control" placeholder="Code postal" title="" id="id_zipcode" disabled/></div>
			</div>
			<div class="col">
				<div class="form-group"><label for="id_city">Ville</label><input type="text" name="city" value="{{tenant.city}}" maxlength="255" class="form-control" placeholder="Ville" title="" id="id_city" disabled/></div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group"><label for="id_country">Pays</label><input type="text" name="country" value="{{tenant.country}}" maxlength="255" class="form-control" placeholder="Pays" title="" id="id_country" disabled/></div>
			</div>
		</div>
	</div>
	<div class="col">
		<h4>Chambres</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Chambre</th>
					<th>Date d'entrée</th>
					<th>Date de sortie</th>
					<th>Dossier</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						{% if tenant.next_leasing %}<a href="{% url 'gestion:roomProfile' tenant.next_leasing.room.pk %}">{{tenant.next_leasing.room}}</a> (Prochaine chambre){% else %} Pas de prochaine chambre (<a href="{% url 'gestion:addNextRoom' tenant.pk %}">Prévoir une prochaine chambre</a>){% endif %}
					</td>
					<td></td>
					<td></td>
					<td>{% if tenant.next_leasing %}<a href="{% url 'gestion:leasingProfile' tenant.next_leasing.pk %}"><i class="fa fa-folder-open"></i></a>{% endif %}</td>
				</tr>
				<tr>
					<td>
						{% if tenant.current_leasing %}<a href="{% url 'gestion:roomProfile' tenant.current_leasing.room.pk %}">{{tenant.current_leasing.room}}</a> (Chambre actuelle){% else %}Pas de chambre actuellement (<a href="{% url 'gestion:tenantMoveInDirect' tenant.pk %}">Attribuer une chambre</a>){% endif %}
					</td>
					<td>{% if tenant.current_leasing %}{{tenant.current_leasing.date_of_entry}}{% endif %}</td>
					<td></td>
					<td>{% if tenant.current_leasing %}<a href="{% url 'gestion:leasingProfile' tenant.current_leasing.pk %}"><i class="fa fa-folder-open"></i></a>{% endif %}</td>
				</tr>
				{% for leasing in tenant.previous_leasings %}
				<tr>
					<td><a href="{% url 'gestion:roomProfile' leasing.room.pk %}">{{leasing.room}}</a></td>
					<td>{{leasing.date_of_entry}}</td>
					<td>{{leasing.date_of_departure}}</td>
					<td><a href="{% url 'gestion:leasingProfile' leasing.pk %}"><i class="fa fa-folder-open"></i></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h3>Observations</h3>
		<div class="form-group"><label for="id_observations">Observations</label><textarea name="observations" cols="40" rows="10" class="form-control" placeholder="Observations" title="" id="id_observations" disabled>{{tenant.observations}}</textarea></div>
		<div class="form-group"><div class="checkbox"><label for="id_temporary"><input type="checkbox" name="temporary" class="" id="id_temporary" {% if tenant.temporary %}checked{% endif %} disabled/> Passager</label></div></div>
		<div class="form-group"><div class="checkbox"><label for="id_leaving"><input type="checkbox" name="leaving" class="" id="id_leaving" {% if tenant.leaving %}checked{% endif %} disabled/> Sur le départ</label></div></div>
		<h3>Fournitures</h3>
		<div class="form-group"><div class="checkbox"><label for="id_waterproof_undersheet"><input type="checkbox" name="waterproof_undersheet" class="" id="id_waterproof_undersheet" {% if tenant.waterproof_undersheet %}checked{% endif %} disabled/> Alèse</label></div></div>
		<div class="form-group"><div class="checkbox"><label for="id_pillow"><input type="checkbox" name="pillow" class="" id="id_pillow" {% if tenant.pillow %}checked{% endif %} disabled /> Oreiller</label></div></div>
		<div class="form-group"><div class="checkbox"><label for="id_pillowcase"><input type="checkbox" name="pillowcase" class="" id="id_pillowcase" {% if tenant.pillowcase %}checked{% endif %} disabled/> Taie d'oreiller</label></div></div>
		<div class="form-group"><div class="checkbox"><label for="id_blanket"><input type="checkbox" name="blanket" class="" id="id_blanket" {% if tenant.blanket %}checked{% endif %} disabled/> Couverture</label></div></div>
		<div class="form-group"><div class="checkbox"><label for="id_sheet"><input type="checkbox" name="sheet" class="" id="id_sheet" {% if tenant.sheet %}checked{% endif %} disabled/> Drap</label></div></div>
	</div>
</div>

<script>
	$(function () {
		$('.tooltip2').tooltip() //tooltip class is already taken
	})
	</script>
{% endblock %}
