{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content%}
<h3>{{tenant}}</h3>
<form method="post" action="">
	<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
		<button type="submit" class="btn btn-primary">Sauvegarder</button>

		<div class="btn-group" role="group">
			<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Actions
			</button>
			<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<a class="dropdown-item" href="{% url 'gestion:moveIn' tenant.pk %}"><i class="fa fa-sign-in-alt" ></i> Enménagement</a>
				<a class="dropdown-item" href="{% url 'gestion:moveOut' tenant.pk %}"><i class="fa fa-sign-out-alt"></i> Déménagement</a>
				<a class="dropdown-item" href="#">Enménagement-déménagement</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'gestion:leave' tenant.pk %}"><i class="fa fa-sign-out-alt"></i> Quitter la residence</a>
			</div>
		</div>
	</div>
	<br><br>
	{% csrf_token %}
	<div class="row">
		<div class="col">
			<h4>Informations générales</h4>
			<div class="row">
				<div class="col">
					{% bootstrap_field tenantForm.first_name %}
				</div>
				<div class="col">
					{% bootstrap_field tenantForm.name %}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{% bootstrap_field tenantForm.gender %}
				</div>
				<div class="col">
					{% bootstrap_field tenantForm.email %}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{% bootstrap_field tenantForm.cellphone %}
				</div>
				<div class="col">
					{% bootstrap_field tenantForm.phone %}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{% bootstrap_field tenantForm.school %}
				</div>
				<div class="col">
					{% bootstrap_field tenantForm.school_year %}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{% bootstrap_field tenantForm.date_of_entry %}
				</div>
				<div class="col">
					{% if tenant.date_of_departure %}
					{% bootstrap_field tenantForm.date_of_departure %}
					{% else %}
					Utiliser la fonction "Quitter la résidence" pour avoir accès à la date de départ
					{% endif %}
				</div>
			</div>
			<h4>Naissance</h4>
			<div class="row">
				<div class="col">
					{% bootstrap_field tenantForm.birthday %}
				</div>
				<div class="col">
					{% bootstrap_field tenantForm.birthcity %}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{% bootstrap_field tenantForm.birthdepartement %}
				</div>
				<div class="col">
					{% bootstrap_field tenantForm.birthcountry %}
				</div>
			</div>
			<h4>Adresse</h4>
			<div class="row">
				<div class="col">
					{% bootstrap_field tenantForm.street_number %}
				</div>
				<div class="col">
					{% bootstrap_field tenantForm.street %}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{% bootstrap_field tenantForm.zipcode %}
				</div>
				<div class="col">
					{% bootstrap_field tenantForm.city %}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{% bootstrap_field tenantForm.country %}
				</div>
			</div>
		</div>
		<div class="col">
			<h4>Chambres</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Chambre</th>
						<th>Date d'entrée</th>
						<th>Date de sortie</th>
					</tr>
				</thead>
				<tbdoy>
				{% if tenant.nextRoom %}
					<tr>
						<td>
							<a href="">{{tenant.nextRoom}}</a> (Prochaine chambre)
						</td>
						<td>
						</td>
						<td>
						</td>
					</tr>
				{% endif %}
					<tr>
						<td>
							{% if tenant.room is not None %}<a href="">{{tenant.room}}</a> (Chambre actuelle){% else %}Pas de chambre actuellement (<a href="">Attribuer une chambre</a>{% endif %}
						</td>
						<td>{% if previousRooms.count == 0 %}{{tenant.date_of_entry}}{% else %}lol{% endif %}</td>
						<td></td>
					</tr>
					{% for room in previousRooms %}
					<tr>
						<td><a href="">{{room.room}}</a></td>
						<td>{{room.date_of_entry}}</td>
						<td>{{room.date_of_departure}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<h3>Observations</h3>
			{% bootstrap_field tenantForm.observations %}
			{% bootstrap_field tenantForm.temporary %}
			{% bootstrap_field tenantForm.leaving %}
			<h3>Fournitures</h3>
			{% bootstrap_field tenantForm.waterproof_undersheet %}
			{% bootstrap_field tenantForm.pillow %}
			{% bootstrap_field tenantForm.pillowcase %}
			{% bootstrap_field tenantForm.blanket %}
			{% bootstrap_field tenantForm.sheet %}
		</div>
	</div>
</form>
{% endblock %}
