{% extends 'base.html' %}
{% block content %}
<h3>A propos de Aloes.rez</h3>
Ce site a été créé par Yoann Pietri (<a href="mailto:yoann.pietri@supelec.fr">yoann.pietri@supelec.fr</a>)
et Claire Porché (<a href="mailto:claire.porche@supelec.fr">claire.porche@supelec.fr</a>). Il est géré par Mme Christine
Fazembat, gestionnaire de la résidence Aloes.
<br>
Il a pour but de proposer un système de gestion de la résidence aux membres de l'administration ainsi que
de mettre différentes informations à la disposition des résidents.
<br><br>
<h3>About Aloes.rez</h3>
This website was created by Yoann Pietri (<a href="mailto:yoann.pietri@supelec.fr">yoann.pietri@supelec.fr</a>)
and Claire Porché (<a href="mailto:claire.porche@supelec.fr">claire.porche@supelec.fr</a>). It is managed by Mrs Christine Fazembat, manager of the Aloes residence.
<br>
It provides a managing software for the administration as well as a platform to share information with the residents.

{% endblock %}
