{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{% if color %}<script src="{% static 'colorfield/jscolor/jscolor.js' %}"></script>{% endif %}
<h2>{{form_title}}</h2>

<form method="post" {% if file %} enctype="multipart/form-data"{% endif %}>
	{% csrf_token %}
	<p>{{p}}</p>
	{% bootstrap_form form %}
	<button type="submit" class="btn btn-primary" name="submit" value="submit"><i class="fa fa-{{form_icon}}"></i> {{form_button}}</button>
	{% if cancel != False %}
	<button type="sumbit" class="btn btn-danger" style="float:right" name="cancel" value="{{request.META.HTTP_REFERER}}" formnovalidate><i class="fa fa-times"></i> Annuler</button>
	{% endif %}
</form>
<br><br>
{% endblock %}
