<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
	<a class="navbar-brand" href="{% url 'home' %}">ALOES</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item {% if active == 'home' %}active{% endif %}">
				<a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i> Accueil</a>
			</li>
			{% if request.user.is_authenticated %}
			<li class="nav-item {% if active == 'default' %}active{% endif %}">
				<a class="nav-link" href="{% url 'gestion:indexGestion' %}"><i class="fa fa-address-book"></i> Gestion</a>
			</li>
			<li class="nav-item {% if active == 'rents' %}active{% endif %}">
				<a class="nav-link" href="{% url 'gestion:indexRent' %}"><i class="fa fa-file-invoice-dollar"></i> Loyers</a>
			</li>
			<li class="nav-item {% if active == 'schools' %}active{% endif %}">
				<a class="nav-link" href="{% url 'gestion:indexSchool' %}"><i class="fas fa-school"></i> Ecoles</a>
			</li>
			<li class="nav-item {% if active == 'renovations'%}active{% endif %}">
				<a class="nav-link" href="{% url 'gestion:indexRenovation' %}"><i class="fa fa-building"></i> Rénovations</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-toolbox"></i> Actions
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'gestion:createRoom' %}"><i class="fa fa-plus-square"></i> Ajouter une chambre</a>
					<a class="dropdown-item" href="{% url 'gestion:createTenant' %}"><i class="fa fa-user-plus"></i> Ajouter un locataire</a>
					<a class="dropdown-item" href="{% url 'gestion:importTenant' %}"><i class="fa fa-user-plus"></i> Charger un locataire</a>
					<a class="dropdown-item" href="{% url 'gestion:homelessTenants' %}"><i class="fa fa-users"></i> Afficher les locataires sans chambre</a>
					<a class="dropdown-item" href="{% url 'gestion:inactiveRooms' %}"><i class="fa fa-home"></i> Afficher les chambres inactives</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'gestion:exportCSV' %}"><i class="fa fa-file-excel"></i> Exporter les données sous excel</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'gestion:backup' %}"><i class="fa fa-database"></i> Sauvegarder la base de données</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'gestion:addOneYear' %}?next={{request.path}}"><i class="fa fa-user-graduate"></i> Passage nA -> (n+1)A</a>
					<a class="dropdown-item" href="{% url 'gestion:mailTenants' %}"><i class="fa fa-at"></i> Envoyer un mail à tous les locataires actuels</a>
					<a class="dropdown-item" href="{% url 'generate_docs:mailingLabels' %}"><i class="fa fa-envelope"></i> Imprimer les étiquettes de courrier</a>
				</div>
			</li>
			<li class="nav-item {% if active == 'maps' %}active{% endif %}">
				<a class="nav-link" href="{% url 'gestion:indexMap' %}"><i class="fa fa-map"></i> Plans</a>
			</li>
			<li class="nav-item {% if active == 'documents' %}active{% endif %}">
				<a class="nav-link" href="{% url 'documents:index' %}"><i class="fa fa-file-alt"></i> Documents</a>
			</li>
			{% endif %}
			<li class="nav-item {% if active == 'about' %}active{% endif %}">
				<a class="nav-link" href="{% url 'about' %}"><i class="fa fa-info-circle"></i> À propos</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			{% if request.user.is_authenticated %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user"></i> {{request.user.username}}
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'profile' %}"><i class="fa fa-user"></i> Mon compte</a>
					{% if user.is_staff %}<a class="dropdown-item" href="{% url 'indexAccounts' %}"><i class="fa fa-users-cog"></i> Gérer les comptes</a>{% endif %}
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> Déconnexion</a>
				</div>
			</li>
			{% else %}
			<li class="nav-item {% if active == 'login' %}active{% endif %}">
				<a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in-alt"></i> Connexion</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>
